{% extends "base.html" %}
{% load static %}

{% block title %} Blog Details: {{ blog.title }} {% endblock %}
{% block content %}
    <!-- başlık içeriye taşındı
    <h1 style="color: darkgreen;">Blog Details: {{ id }}</h1> -->
    {% include 'partials/_navbar.html' %}
    <div class="container mt-3">
        <div class="row">
            {% comment %} kategoriler kısmına bu sayfada gerek yok
            <div class="col-3">
                {% include 'partials/_categories.html' %}
            </div>
            <div class="col-9"> {% endcomment %}
                <div class="col-12">
                <div class="card mb-3">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card-body">
                                <h1 class="card-title h3">
                                    {{ blog.title|title }}
                                </h1>
                                {% comment %} <img src="{% static 'img/'|add:blog.image %}" alt="" class="img-fluid"> {% endcomment %}
                                <img src="{{ blog.image.url }}" alt="" class="img-fluid">
                                <p class="card-text">{{ blog.description|safe }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}