{% extends "base.html" %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'account/css/style.css' %}">
{% endblock %}
{% block title %} Register {% endblock %}
{%  block content %}
    {% include 'partials/_navbar.html' %}
    <div class="container mt-3">
        <h1>Register</h1>
        <hr>
        {% comment %} gönderilen ve bulunulan url aynı olduğu için action yazılmayabilir {% endcomment %}
        <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            {% if error %}
                <div class="alert alert-danger">
                    {{ error }}
                </div>
            {% endif %}
                <div class="row mb-3">
                    <div class="col">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" name="username">
                    </div>
                    <div class="col">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" name="email">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="firstname" class="form-label">First Name</label>
                        <input type="text" class="form-control" name="firstname">
                    </div>
                    <div class="col">
                        <label for="lastname" class="form-label">Last Name</label>
                        <input type="text" class="form-control" name="lastname">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password">
                    </div>
                    <div class="col">
                        <label for="repassword" class="form-label">Re-Password</label>
                        <input type="password" class="form-control" name="repassword">
                    </div>
                </div>    
            <div class="mb-3">
                <input type="submit" value="Register" class="btn btn-primary">
            </div>
        </form>
    </div>
{% endblock %}
{% block js_files %}
    <script src="{% static 'account/js/script.js' %}"></script>
{% endblock %}